{% extends "app_users/basic_account.html" %}
{% load static %}
{% block content %}
    <div class="Section-content">
        <div class="Profile">
            {% if errors %}
                <div class="form-group" style="color: red;">
                    {{ errors }}
                </div>
            {% endif %}
            <form class="form Profile-form" action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="row-block">
                        <div class="form-group">
                            <label class="form-label" for="avatar">Аватар
                            </label>
                            {% if user_account.avatar %}
                                <div class="Profile-avatar">
                                <div class="Profile-img">
                                    <img src="{{ user_account.avatar.url }}" alt="User avatar"/>
                                </div>
                            {% else %}
                                <div class="Profile-avatar Profile-avatar_noimg">
                                <div class="Profile-img"></div>
                            {% endif %}
                            <label class="Profile-fileLabel" for="avatar">Выберите аватар</label>
                            <input class="Profile-file form-input" id="avatar" name="avatar" type="file"
                                   data-validate="onlyImgAvatar"/>
                            </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="full_name">ФИО</label>
                                <input class="form-input" id="full_name" name="full_name" type="text"
                                       value="{{ user_account.name }} {{ user_account.surname }}"/>
                                <div class="form-error">{{ form.full_name.errors|escape }}</div>
                            </div>
                        </div>
                    </div>
                        <div class="row-block">
                            <div class="form-group">
                                <label class="form-label" for="phone">Телефон</label>
                                <input class="form-input" id="phone" name="phone" type="text"
                                       placeholder="+79999999999" value="+7{{ user_account.phone }}"/>
                                <div class="form-error">{{ form.phone.errors|escape }}</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="email">E-mail</label>
                                <input class="form-input" id="email" name="email" type="text"
                                       value="{{ user_account.email }}"/>
                                <div class="form-error">{{ form.email.errors|escape }}</div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="password1">Пароль</label>
                                <input class="form-input" id="password1" name="password1" type="password"
                                       placeholder="Тут можно изменить пароль"/>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="password2">Подтверждение пароля</label>
                                <input class="form-input" id="password2" name="password2" type="password"
                                       placeholder="Введите пароль повторно"/>
                            </div>
                            <div class="form-group">
                                <div class="Profile-btn">
                                    <button class="btn btn_success">Сохранить
                                    </button>
                                </div>
                            </div>
                        </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}