{% extends "app_goods/base.html" %}
{% load static %}
{% load humanize %}
{% load templatetags %}
{% block main %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Каталог | Горячие предложения
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="index.html">Главная</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Каталог</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <div class="Cards">
                    {% if goods %}
                        {% for good in goods %}
                            <div class="Card"><a class="Card-picture" href="{{ good.get_absolute_url }}"><img
                                    src="{{ good.images.first.img.url }}"
                                    alt="card.jpg"/></a>
                                <div class="Card-content">
                                    <strong class="Card-title"><a
                                            href="{{ good.get_absolute_url }}">{{ good.title }}</a>
                                    </strong>
                                    <div class="Card-description">
                                        <div class="Card-cost"><span
                                                class="Card-price">{{ good.price|intcomma }} Р.</span>
                                        </div>
                                        <div class="Card-category">
                                            {% if good.category.parent %}
                                                {{ good.category.parent }} /
                                            {% endif %}
                                            {{ good.category }}
                                        </div>
                                        <div class="Card-hover">
                                            <a class="Card-btn" href="{% url 'cart-edit' good.pk 'add' %}">
                                                <img src="{% static 'app_goods/assets/img/icons/card/cart.svg' %}"
                                                     alt="cart.svg"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if goods %}
                    <div class="Pagination">
                        <div class="Pagination-ins">
                            {% if page_obj.has_previous %}
                                <a class="Pagination-element Pagination-element_prev"
                                   href="{% make_pagination_url request.get_full_path page_obj.previous_page_number %}">
                                    <img src="{% static 'app_goods/assets/img/icons/prevPagination.svg' %}"
                                         alt="prevPagination.svg"/>
                                </a>
                            {% endif %}
                            {% for p in paginator.page_range %}
                                {% if page_obj.number == p %}
                                    <a class="Pagination-element Pagination-element_current"
                                       href="{% make_pagination_url request.get_full_path p %}">
                                    <span class="Pagination-text">{{ p }}</span>
                                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                                    <a class="Pagination-element "
                                       href="{% make_pagination_url request.get_full_path p %}">
                                    <span class="Pagination-text">{{ p }}</span>
                                {% endif %}
                            </a>
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <a class="Pagination-element Pagination-element_prev"
                                   href="{% make_pagination_url request.get_full_path page_obj.next_page_number %}">
                                    <img src="{% static 'app_goods/assets/img/icons/nextPagination.svg' %}"
                                         alt="nextPagination.svg"/>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}