{% extends "app_goods/base.html" %}
{% load static %}
{% block main %}
     <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Оформление заказа
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">Главная</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оформление заказа</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">Прогресс заполнения
              </strong>
            </header>

                          <div class="Section-columnContent">
              <ul class="menu menu_vt Order-navigate">
                <li class="{% if request.session.order_details.step_1 != True %}menu-item_ACTIVE{% endif %} menu-item">
                    <a class="menu-link" href="{% url 'checkout' %}">Шаг 1. Параметры пользователя</a>
                </li>
                <li class="{% if request.session.order_details.step_1 == True and request.session.order_details.step_2 != True %}menu-item_ACTIVE{% endif %} menu-item">
                    <a class="menu-link"
                       href="{% if request.session.order_details.step_2 == True %}{% url 'checkout_delivery' %}{% endif %}">Шаг 2. Способ доставки</a>
                </li>
                <li class="{% if request.session.order_details.step_2 == True and request.session.order_details.step_3 != True %}menu-item_ACTIVE{% endif %} menu-item">
                    <a class="menu-link"
                       href="{% if request.session.order_details.step_3 == True %}{% url 'checkout_payment' %}{% endif %}">Шаг 3. Способ оплаты</a>
                </li>
                <li class="{% if request.session.order_details.step_3 == True %}menu-item_ACTIVE{% endif %} menu-item">
                    <a class="menu-link"
                       href="{% if request.session.order_details.step_4 == True %}{% url 'checkout_summary' %}{% endif %}">Шаг 4. Подтверждение заказа</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}