{% extends "app_goods/base.html" %}
{% block main %}

<div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Восстановление пароля
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main' %}">Главная</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Восстановление пароля</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

<div class="Section">
      <div class="wrap">
          <div class="ProgressPayment">
          <div class="ProgressPayment-title" style="margin-bottom: 20px;">Письмо отправлено!</div>
          <div style="margin-bottom: 20px;">
              Мы послали на указанный e-mail письмо с инструкциями по восстановлению пароля.
              Если Вы не получили письмо, проверьте, что указан именно тот адрес электронной почты, который
              был указан при регистриции на этом сайте, а также проверьте папку "Спам" в почте.
          </div>
      </div>

      </div>
</div>
{% endblock %}