{% extends "app_goods/base.html" %}
{% load humanize %}
{% load static %}
{% block main %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Корзина
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="index.html">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Корзина</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <form class="form Cart" action="#" method="post">
                    {% if quantity != 0 %}
                        {% for product in cart %}
                            <div class="Cart-product">
                                <div class="Cart-block Cart-block_row">
                                    <div class="Cart-block Cart-block_pict">
                                        <a class="Cart-pict"
                                           href="{{ product.good.get_absolute_url }}">
                                            <img class="Cart-img" src="{{ product.good.images.first.img.url }}"
                                                 alt="card.jpg"/>
                                        </a>
                                    </div>
                                    <div class="Cart-block Cart-block_info">
                                        <a class="Cart-title"
                                           href="{{ product.good.get_absolute_url }}">
                                            {{ product.good.title }}</a>
                                        <div class="Cart-desc">{{ product.good.short_description }}
                                        </div>
                                    </div>
                                    <div class="Cart-block Cart-block_price" style="margin-left: 0;">
                                        <div class="Cart-price">{{ product.good.price|intcomma }}&nbsp;Р.
                                        </div>
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_row">
                                    <div class="Cart-block Cart-block_seller">
                                        <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                                    </div>
                                    <div class="Cart-block Cart-block_amount">
                                        <div class="Cart-amount NoJS">
                                            <div class="Amount NoJS">
                                                <a class="Amount-remove NoJS"
                                                   href="{% url 'cart-edit' product.good.pk 'decrease' %}">
                                                </a>
                                                <input class="Amount-input form-input NoJS" name="amount" type="text"
                                                       value="{{ product.quantity }}" readonly/>
                                                <a class="Amount-add NoJS"
                                                   href="{% url 'cart-edit' product.good.pk 'increase' %}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Cart-block Cart-block_delete">
                                        <a class="Cart-delete" href="{% url 'cart-delete' product.good.pk %}">
                                            <img src="{% static 'app_goods/assets/img/icons/card/delete.svg' %}"
                                                 alt="delete.svg"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="Cart-total">
                            <div class="Cart-block Cart-block_total">
                                <strong class="Cart-title">Итого:
                                </strong>
                                <span class="Cart-price">
                        {{ total_price|intcomma }} Р.
                        </span>
                            </div>
                            <div class="Cart-block">
                                <a class="btn btn_success btn_lg" href="{% url 'checkout' %}">Оформить заказ</a>
                            </div>
                        </div>
                    {% else %}
                        <strong class="Cart-title">Ваша корзина пуста</strong>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}